name: CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: false
      - uses: golangci/golangci-lint-action@v6
      - run: make gen && git diff --exit-code
      - name: Start services
        run: |
          for i in {1..60}; do docker compose up -d --quiet-pull && break; sleep 1; done
          for i in {1..60}; do pg_isready -U postgres -h 127.0.0.1 -p 15432 && break; sleep 1; done
      - run: make redash-setup
      - run: make redash-upgrade-db
      - run: make vet
      - run: make testacc TEST_OPTS='-coverprofile=coverage.out'
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.2.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
